.admin {
    background-color: #FF8500;
    height: 100vh;
}

.admin-navbar {
    align-items: center;
    background-color: #FF8500;
    border-bottom: 3px solid #000;
    display: flex;
    justify-content: flex-end;
    padding: 10px;
}

.navbar-icon {
    cursor: pointer;
    height: 25px;
    position: relative;
}

@media screen and (min-width: 768px) {
    .navbar-icon {
        height: 30px;
    }
}

#logout:hover {
    transform: scale(1.2);
}

.admin-icon {
    cursor: pointer;
    height: 30px;
    opacity: 0.5;
}

@media screen and (min-width: 768px) {
    .admin-icon {
        height: 50px;
    }
}

.admin-icon-active {
    opacity: 1;
}

.admin-grid {
    border-bottom: 3px solid #000;
    color: #000;
    display: grid;
    font-family: Poppins, 'sans-serif';
    font-size: 10px;
    font-weight: 600;
    grid-template-columns: repeat(5, 1fr);
    padding: 10px;
    text-align: center;
}

@media screen and (min-width: 768px) {
    .admin-grid {
        font-size: 18px;
        padding: 15px;
    }
}

.admin-group-item {
    cursor: pointer;
}

.admin-group-item {
    border-right: 2px solid #000;
}

.admin-group-item:last-child {
    border-right: none;
}

.admin-group {
    opacity: 0.5;
}

.admin-group-active {
    border-bottom: 3px #000 solid;
    color: #000;
    opacity: 1;
}

.source-container {
    background-color: #000;
    position: relative;
    padding: 70px 40px;
}

@media screen and (min-width: 768px) {
    .source-container {
        padding: 80px 50px;

    }
}

.toolbar {
    display: flex;
    flex-direction: column;
    gap: 15px;
    position: absolute;
    right: 8px;
    top: 10px;
}

.toolbar img {
    cursor: pointer;
    width: 25px;
}

.toolbar img:hover {
    transform: scale(1.3);
}

.modal {
    background-color: rgba(0, 0, 0, 0.5);
    display: block;
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

.modal-content {
    background-color: #000000;
    border: 2px solid #FF8500;
    border-radius: 8px;
    left: 50%;
    max-height: 85vh;
    overflow-y: auto;
    padding: 10px 20px 10px 20px;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
}

@media screen and (min-width: 1200px) {
    .modal-content {
        width: 22%;
    }
}

.add-box {
    align-items: center;
    background-color: #FF8500;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    height: 35px;
    justify-content: center;
    position: absolute;
    right: -30px;
    top: -60px;
    width: 40px;
}

@media screen and (min-width: 768px) {
    .add-box {
        height: 40px;

    }
}

.add-box:hover {
    transform: scale(1.2);
}

.file-name {
    color: #FF8500;
    display: flex;
    font-family: Poppins, 'sans-serif';
    font-size: 18px;
    font-weight: 600;
}

.remove {
    cursor: pointer;
    height: 25px;
    margin-left: 10px;
}

.modal-image-container {
    align-items: center;
    border: 2px solid #FF8500;
    display: flex;
    padding: 10px;
}

.upload {
    cursor: pointer;
    display: block;
    height: 40px;
}

.modal-image {
    width: 80%;
}

.notification {
    background-color: rgb(255 255 255 / 90%);
    border-radius: 25px;
    color: red;
    font-size: 13px;
    font-weight: 600;
    height: 15px;
    position: absolute;
    right: 0;
    text-align: center;
    top: 0;
    width: 15px;
}

.message-container {
    position: relative;
}

.message-container:hover {
    transform: scale(1.2);
}

.chart-container {
    display: grid;
    gap: 10px;
    grid-template-columns: 7.5fr 1.5fr;
}

.about-addition-container {
    border: 2px solid #FF8500;
    border-radius: 10px;
    display: flex;
    gap: 20px;
    margin-bottom: 5px;
    padding: 5px 10px;
}

.remove-item {
    cursor: pointer;
    display: block;
    height: 25px;
    margin: auto 0 auto auto;
}

.about-addition-box {
    align-items: center;
    background-color: #FF8500;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    height: 35px;
    justify-content: center;
    margin-top: 10px;
    width: 35px;
}

.about-education-container {
    border: 2px solid #FF8500;
    border-radius: 10px;
    margin-bottom: 10px;
    padding: 5px 35px 5px 10px;
    position: relative;
}

.remove-item-top {
    cursor: pointer;
    height: 25px;
    position: absolute;
    right: 1%;
    top: 40%;
}

.cross {
    cursor: pointer;
    height: 20px;
    position: absolute;
    right: -5px;
    top: -5px;
}

.remove-mail {
    cursor: pointer;
    top: 10px;
    right: 10px;
    height: 20px;
    position: absolute;
}

.remove-mail:hover {
    transform: scale(1.3);
}
