.button {
    border: none;
    border-radius: 50px;
    cursor: pointer;
    display: inline-block;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    font-weight: 600;
    padding: 5px 20px;
    text-decoration: none;
    text-transform: uppercase;
}

@media screen and (min-width: 1200px) {
    .button {
        font-size: 20px;
    }
}

.small-button {
    border-radius: 6px;
    cursor: pointer;
    display: inline-block;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 600;
    padding: 8px 13px;
    text-decoration: none;
    text-transform: uppercase;
}

.shadowed-button {
    background-color: #ffde78;
    border-radius: 6px;
    box-shadow: 5px 5px 10px rgba(255, 133, 0, 1);
    cursor: pointer;
    display: flex;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-weight: 400;
    justify-content: center;
    line-height: 30px;
    padding: 8px 20px;
    text-decoration: none;
    width: -webkit-fill-available;
}

.button--lightgray {
    background-color: #f4f4f4;
    color: #cfcfcf;
}

.button--lightgray:hover {
    background-color: #FF8500;
    color: #ffffff;
}

.button--lightgray-active {
    background-color: #FF8500;
    color: #ffffff;
}

.button--white--coral {
    background-color: #FFFFFF;
    border: 3px #FF8500 solid;
    color: #FF8500;
}

.button--white--coral:hover {
    background-color: #FF8500;
    border: 3px #FFFFFF solid;
    color: #FFFFFF;
}

.button--orange {
    background-color: #FF8500;
    color: #FFFFFF;
}

.button--orange:hover {
    background-color: #FF8500;
    color: #FFFFFF;
}

.button--white {
    background-color: #FFFFFF;
    color: #FF8500;
}

.menu__btn {
    cursor: pointer;
    height: 25px;
    position: absolute;
    right: 20px;
    top: 20px;
    width: 25px;
    z-index: 10;
}

@media screen and (min-width: 768px) {
    .menu__btn {
        cursor: pointer;
        height: 25px;
        position: absolute;
        right: 30px;
        top: 27px;
        width: 25px;
        z-index: 10;
    }
}

.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
    background-color: #000000;
    display: block;
    height: 2px;
    position: absolute;
    transition-duration: .25s;
    width: 100%;
}

.menu__btn > span::before {
    content: '';
    top: -8px;
}

.menu__btn > span::after {
    content: '';
    top: 8px;
}

.button-upload {
    background-color: #FF8500;
    color: #FFFFFF;
}
