.case-study-first-panel-container {
    display: grid;
    grid-template-columns: 40% 60%;
    background-color: #FF8500;
    padding-left: 70px;
}

.case-study-title {
    color: #FFFFFF;
    font-family: 'Poppins', sans-serif;
    font-size: 55px;
    font-weight: 600;
    line-height: 55px;
}

.case-study-text {
    color: #FFFFFF;
    font-family: 'Poppins', sans-serif;
    font-size: 30px;
    font-weight: 400;
    line-height: 40px;
}

.arrow-left {
    width: 20px;
    cursor: pointer;
    position: absolute;
    top: 40px;
    left: 40px;
}

.first-panel-image {
    width: 100%;
}

.case-study-second-panel-container {
    background-color: #FFFFFF;
    padding: 70px 0 0 70px;
    position: relative;
    height: 510px;
}

.second-panel-box {
    width: 44%;
}

.hotbed-screen {
    width: 55%;
    position: absolute;
    top: -85px;
    right: 0;
}

.third-panel-container {
    background-color: #F8FAFE;
    padding: 100px 70px;
}

.third-panel-grid {
    display: grid;
    grid-template-columns: 45% 40%;
    gap: 15%;
    margin-top: 50px;
}

.overview-title {
    color: #cfcfcf;
    font-family: 'Poppins', sans-serif;
    font-size: 50px;
    font-weight: 600;
}

.overview-subtitle {
    color: #cfcfcf;
    font-family: 'Poppins', sans-serif;
    font-size: 25px;
    font-weight: 600;
}

.overview-text {
    color: #cfcfcf;
    font-family: 'Poppins', sans-serif;
    font-size: 25px;
    font-weight: 500;
    line-height: 35px;
}

.fourth-panel-container {
    background-color: #FFFFFF;
    padding: 70px 70px;
    position: relative;
}

.design-process-text {
    color: #cfcfcf;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    line-height: 27px;
    font-weight: 300;
    text-align: justify;
}

.design-process-text mark {
    color: #cfcfcf;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    line-height: 27px;
    font-weight: 600;
    text-align: justify;
    background: none;
}

.goals {
    height: 92%;
}

.documents-container {
    width: 100%;
    position: relative;
    background-color: #F04444;
    padding-bottom: 50px;
}

.reports {
    width: 100%;
    height: auto;
}

.financial-reports {
    position: absolute;
    top: 50px;
}

.documents {
    position: absolute;
    bottom: 20px;
}

.documents-image {
    width: 100%;
}

.footer-container {
    display: flex;
    justify-content: center;
    margin: 30px 0;
}

.thanks {
    color: #cfcfcf;
    font-family: 'Poppins', sans-serif;
    font-size: 30px;
    line-height: 45px;
    font-weight: 500;
    text-align: center;
    margin: 20px;
}

.footer-arrow-left {
    rotate: 90deg;
    cursor: pointer;
    width: 40px;
    text-align: left;
}

.footer-arrow-right {
    rotate: 270deg;
    cursor: pointer;
    width: 40px;
    text-align: right;
}

.footer-arrow-up {
    rotate: 180deg;
    cursor: pointer;
    width: 40px;
    position: fixed;
    bottom: 60px;
    right: 70px;
}

.footer-nav-title {
    color: #cfcfcf;
    font-family: 'Poppins', sans-serif;
    font-size: 25px;
    font-weight: 300;
    line-height: 35px;
    padding: 0 30px;
}

.pen-first-panel-container {
    position: relative;
}
.pen-first-panel-container::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #FF8500;
    z-index: -1;
}

.pen-first-panel-text {
    position: absolute;
    right: 18%;
    top: 12%;
}

.pen-first-panel {
    width: 85%;
}

.pen-screen {
    width: 50%;
    position: absolute;
    top: 50px;
    right: 0;
}

.nifty {
    width: 280px;
}

.case-study-research-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    position: relative;
    gap: 6em;
}

.case-study-research-container .vertical-solid-line{
    width: 2px;
    height: 360px;
    background: #cfcfcf;
    position: absolute;
    left: 50%;
    top: -10%;
}

.horizontal-dashed-line {
     width: 100%;
     height: 2px;
     background: repeating-linear-gradient(140deg, #cfcfcf, #cfcfcf 10px, white 10px, white 20px);
    margin: 30px 0;
}

.pen-results {
    width: 100%;
}

.pen-subtitle {
    color: #cfcfcf;
    font-family: 'Poppins', sans-serif;
    font-size: 40px;
    font-weight: 600;
    line-height: 60px;
}

.note-container {
    display: flex;
    gap: 100px;
    justify-content: center;
}

.note {
    width: 500px;
}

.flowchart {
    width: 64%;
    padding-left: 3em;
}

.proto {
    height: 450px;
}

.wireframing-grid {
    display: grid;
    padding: 200px 100px;
    grid-template-columns: repeat(3, 1fr);
}

.wireframing-item {
    display: inline-block;
}


.mobile-wireframing-grid {
    display: grid;
    padding: 0 100px;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px 20px;
}

.ui {
    width: 100%;
}

.ui-mobile{
    width: 50%;
}

.color-code {
    color: #cfcfcf;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    font-weight: 300;
    line-height: 30px;
}

.color {
    width: 80px;
    margin-bottom: 10px;
}

.font-types {
    color: #000000;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    line-height: 27px;
}


.contractual-title-container {
    margin-left: 50%;
    margin-right: 10%;
    padding-top: 100px;
    text-align: right;
}

.contractual-first-panel-container {
    background-color: #202938;
    height: 90vh;
    position: relative;
}

.laptop {
    position: absolute;
    top: 55px;
    left: 100px;
    width: 50%;
    z-index: 10;
}

.contractual-second-panel-box {
    width: 45%;
}

.contractual-screen {
    width: 45%;
    position: absolute;
    top: 50px;
    right: 0;
}

.mockup {
    width: 100%;
}

.pertu-container {
    background-color: #343947;
    height: 700px;
    position: relative;
    justify-content: center;
    display: flex;
    align-items: center;
}

.pertu-main-panel {
    height: 1000px;
    width: 100%;
    position: relative;
}

.pertu-backround-image {
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    width: 20%;
}

.pertu-title {
    color: #343947;
    font-family: 'Montserrat', sans-serif;
    font-size: 50px;
    line-height: 73px;
    font-weight: 700;
    text-transform: uppercase;
}

.pertu-subtitle {
    color: #343947;
    font-family: 'Poppins', sans-serif;
    font-size: 35px;
    line-height: 45px;
    font-weight: 500;
}

.pertu-main-container {
    padding: 100px 100px 0 100px;
    z-index: 10;
}

.pertu-text {
    color: #343947;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    line-height: 30px;
    font-weight: 300;
}

.pertu-logo {
    width: 305px;
}

.pertu-trasparent-logo {
    width: 70%;
}

.pertu-inline-container {
    display: flex;
    gap: 50px 30px;
}
.pertu-item {
    width: 100%;
}

.logo-container {
    height: 280px;
    border-radius: 20px;
    background-color: #343947;
}


.box {
    width: 250px;
    height: 250px;
    border-radius: 50%;
}

.light-blue {
    background-color: #30D5C8;
    z-index: 3;
    top: 0;
    position: relative;
}

.grey {
    background-color: #343947;
    z-index: 2;
    top: 33%;
    position: absolute;

}

.yellow {
    background-color: #FFFF66;
    z-index: 1;
    top: 66%;
    position: absolute;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.flex-column-color {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 220px;
}

.wide-box {
    height: 200px;
    width: 320px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.grey-background {
    background-color: #343947;
}

.yellow-background {
    background-color: #FFFF66;
}

.light-blue-background {
    background-color: #30D5C8;
}

.pertu-yellow-logo {
    width: 180px;
}

.square-box {
    height: 280px;
    width: 307px;
    border-radius: 20px;
}

.pertu-image-container {
    display: flex;
    gap: 20px;
    padding: 0 20px;
}

.pertu-image {
    height: 650px;
}

.pen-icon {
    height: 40px;
}

.pen-logo {
    width: 350px;
    margin-bottom: 200px;
}

.vertical-logo {
    height: 100px;
}

.horizontal-logo {
    height: 70px;
    margin-top: auto;
    margin-bottom: auto;
}

.logos-container {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.logos {
    width: 50px;
}

.big-logo {
    width: 130px;
}

.logo-grid {
    display: grid;
    grid-template-columns: 25% 60%;
    gap: 0 15%;
    position: relative;

}

.logo-grid .vertical-dashed-line {
    width: 2px;
    height: 110%;
    background: repeating-linear-gradient(0deg, #cfcfcf, #cfcfcf 10px, white 10px, white 20px);
    position: absolute;
    left: 32%;
    top: -5%;
}

.font-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 50px 30px;
    font-family: 'Poppins', sans-serif;
    color: #cfcfcf;
    font-weight: 300;
    font-size: 25px;
    line-height: 30px;
}

.font-grid > div:nth-child(even) {
    font-weight: 600;
}

.font-grid > div:nth-last-child(-n+4) {
    font-size: 20px;
    line-height: 25px;
}

.pen-background {
    width: 100%;
}

.button-container {
    display: flex;
    gap: 300px;
}

.pen-inputs {
    width: 100%
}

.flatco-container {
    background-color: #243D57;
    position: relative;
    width: 100%;
    height: 100vh; /* Adjust this if needed */
    background-image: url('../assets/case-study/flatco-background.svg');
    background-size: cover; /* or background-size: contain; depending on your preference */
    background-position: top right;
    background-repeat: no-repeat;
}

.flatco-title-container {
    padding-left: 100px;
    padding-top: 100px;
}

.flatco-screen {
    width: 620px;
    position: absolute;
    top: 50px;
    right: 0;
}

.landing-image-container {
    position: relative;
}

.flatco-laptop {
    width: 900px;
    margin-top: 50px;
    z-index: 1;
    position: relative;
}

.flatco-image {
    width: 696px;
    position: absolute;
    right: 100px;
    top: 100px;
    z-index: 0;
}

.landing-page-images {
    width: 620px;
}

.overflow-container {
    background-color: #243D57;
    border-radius: 15px 15px 0 0 ;
    display: flex;
    height: 585px;
    justify-content: space-between;
    margin: 50px 110px 0;
    padding: 50px;
}

.overflow-images {
    width: 560px;
    margin-top: 30px;
}

.tenant-container {
    background-color: #243D57;
    border-radius: 15px 15px 0 0 ;
    display: flex;
    margin: 50px 110px 0;
    padding: 50px;
    justify-content: space-between;
}

.romfriend-container {
    background-color: #0095C0;
    position: relative;
    width: 100%;
    height: 100vh;
    background-image: url('../assets/case-study/romfriend-background.svg');
    background-size: 80%;
    background-position: bottom left;
    background-repeat: no-repeat;
}

.romfriend-title-container {
    padding-top: 50px;
}

.dashboard-image {
    width: 800px;
    margin-top: 50px;
    margin-right: 50px;
}

.wireframe-images {
    width: 100%;
}

.ui-image {
    width: 80%;
    display: block;
    margin-right: auto;
    margin-left: auto;
}

.kompozit-container {
    background-color: #4F46E5;
    position: relative;
    width: auto;
    height: 100vh;
    background-image: url('../assets/case-study/kompozit-background.svg');
    background-size: 75%;
    background-position: bottom right;
    background-repeat: no-repeat;
    padding-left: 100px;
}

.discovery-research-container {
    padding: 50px 110px;
}

.workflow {

}

.sticky-note {
    height: 400px;
}

.ideation-grid {
    display: grid;
    grid-template-columns: 2.3fr 1.2fr 2fr;
}

.hotbed-container {
    background-color: #3B3081;
    position: relative;
    width: 100%;
    height: 100vh; /* Adjust this if needed */
    background-image: url('../assets/case-study/hotbed-background.svg');
    /*background-size: cover; !* or background-size: contain; depending on your preference *!*/
    background-position: top right;
    background-repeat: no-repeat;
}

.hotbed-figma-container {
    background-color: #3B3081;
}

.szulinapi-container {
    background-color: #59374B;
    position: relative;
    width: 100%;
    height: 100vh; /* Adjust this if needed */
    background-image: url('../assets/case-study/szulinapi-background.svg');
    /*background-size: cover; !* or background-size: contain; depending on your preference *!*/
    background-position: top right;
    background-repeat: no-repeat;
    background-size: 65%;
}

.szulinapi-landing {
    width: 650px;
}

.szulinapi-design {
    background-color: #59374B;
    padding-top: 100px;
}

.szulinapi-design .white-title {
    color: #FFFFFF;
    font-family: 'Poppins', sans-serif;
    font-size: 40px;
    font-weight: 600;
    line-height: 50px;
}

.szulinapi-design-image {
    width: 100%;
    display: flex;
    align-self: flex-end;
}
