.is-flex {
    display: flex;
}

.flex-1 {
    flex: 1;
}

ol {
    list-style-type: decimal;
    list-style-position: outside;
}

.space-between {
    justify-content: space-between;
}

.is-relative {
    position: relative;
}

.is-grid {
    display: grid;
}

.text-center {
    text-align: center;
}

.gap-30 {
    gap: 30px;
}

.gap-20 {
    gap: 20px;
}

.semi-bold {
    font-weight: 600;
}

@media screen and (min-width: 1200px) {
    .pl-90 {
        padding-left: 90px;
    }
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
/* margins */
.m-0 {
    margin: 0 !important;
}

.mr-10 {
    margin-right: 10px;
}

.mr-50 {
    margin-right: 50px;
}

.mt-10 {
    margin-top: 10px;
}

.mt-30 {
    margin-top: 30px;
}

.mb-10 {
    margin-bottom: 10px;
}

.mb-30 {
    margin-bottom: 30px;
}

.mb-50 {
    margin-bottom: 50px;
}

.mb-100 {
    margin-bottom: 100px;
}


.ml-20 {
    margin-left: 20px;
}

.two-column-grid {
    display: block;
    margin-bottom: 50px;
}

/*@media screen and (min-width: 768px) {*/
/*    .two-column-grid {*/
/*        display: grid;*/
/*        grid-template-columns: 1fr 1fr;*/
/*        gap: 50px;*/
/*        margin-bottom: 0;*/
/*    }*/
/*}*/
@media screen and (min-width: 1200px) {
    .two-column-grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 475px;
        margin-bottom: 0;
    }
}

.three-column-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px 0;
    justify-content: center;
    margin-bottom: auto;
    margin-top: 25px;
}

@media screen and (min-width: 768px) {
    .three-column-grid {
        gap: 50px;
        margin: 80px 0;
    }
}

@media screen and (min-width: 1200px) {
    .three-column-grid {
        gap: 50px 30px;
    }
}

@media (min-width: 1680px) {
    .three-column-grid {
        gap: 50px 30px;
        margin-top: 50px;
    }
}

@media (max-width: 1199px) {
    .hide-on-mobile-tablet {
        display: none;
    }
}

@media screen and (min-width: 1200px) {
    .hide-on-desktop {
        display: none;
    }
}

.error-message {
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
    font-weight: 300;
    line-height: 24px;
    color: red;
}

.disabled {
    pointer-events: none;
    opacity: 0.5;
}

.design-instruction {
    margin-top: 40px;
}

@media screen and (min-width: 1200px) {
    .design-instruction {
        margin-top: 0;
        padding-left: 20px;
    }
}

.d-none {
    display: none;
}

.is-orange {
    color: #FF8500;
}

.bg-orange {
    background-color: #FF8500;
    padding: 7px;
    border-radius: 10px;
}

.scrollbar {
    width: 30px;
    background: #F5F5F5;
    overflow-y: scroll;
    overflow-x: hidden;
}

@media screen and (min-width: 768px) {
    .scrollbar {
        margin: 25px;
    }
}

.scrollbar::-webkit-scrollbar {
    width: 10px;
    background-color: #F5F5F5;
    border-radius: 20px;
}

.scrollbar::-webkit-scrollbar-thumb {
    border-radius: 20px;
    background-color: #FF8500;
}

.align-left {
    text-align: left !important;
}

mark {
    font-family: Poppins, 'sans-serif';
    color: #FF8500;
    font-weight: 300;
    font-style: italic;
    background-color: transparent;
    font-size: 13px;
}

.opacity-5 {
    opacity: 0.5;
}
