.mail-container {
    border: 2px solid #FF8500;
    border-radius: 10px;
    color: #FFFFFF;
    font-family: Poppins, 'sans-serif';
    margin-bottom: 15px;
    padding: 10px;
    position: relative;
}

.mail-container h3 {
    font-size: 16px;
    font-weight: 600;
    margin: 0;
}

.mail-container h4 {
    font-size: 14px;
    font-weight: 400;
    margin: 0;
    padding-bottom: 5px;
}

.mail-container p {
    font-size: 12px;
    font-style: italic;
    font-weight: 400;
    margin-bottom: 10px;
}

.mail-container span {
    color: #FF8500;
    font-size: 12px;
    font-weight: 600;
}

.mail-content {
    background-color: #000000;
    border: 2px solid #FF8500;
    border-radius: 8px;
    left: 50%;
    max-height: 80vh;
    overflow-y: auto;
    padding: 25px;
    position: relative;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 500px;
}

.mail-content::-webkit-scrollbar {
    display: none;
}

.close-image {
    cursor: pointer;
    height: 15px;
    position: absolute;
    right: 7px;
    top: 7px;
}

