body {
    background-color: #000000;
    margin: 0;
}

h2 {
    color: #FF8500;
    font-family: 'Poppins', sans-serif;
    font-size: 30px;
    font-weight: 600;
    margin: 0;
    line-height: 40px;
}

@media screen and (min-width: 1200px) {
    h2 {
        font-size: 50px;
    }
}

h4 {
    margin: 0;
}

a {
    color: #cfcfcf;
    display: block;
    text-decoration: none;
}

.introduction-container {
    display: block;
}

@media screen and (min-width: 1200px) {
    .introduction-container {
        margin-left: 30%;
        margin-right: 30%;
    }
}

.bar-chart-grid {
    display: grid;
    gap: 10px;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 5px;
}

p {
    color: #cfcfcf;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 30px;
    margin: 0;
    text-align: justify;
    text-justify: inter-word;
}

@media screen and (min-width: 768px) {
    p {
        font-size: 18px;
    }
}

@media screen and (min-width: 1200px) {
    p {
        font-size: 20px;
        line-height: 30px;
    }
}


.main-container {
    padding: 20px 40px 50px;
}

@media screen and (min-width: 768px) {
    .main-container {
        padding: 35px 60px 50px;
    }
}

@media screen and (min-width: 1200px) {
    .main-container {
        padding: 100px 110px 30px 110px;
    }
}

@media screen and (min-width: 1600px) {
    .main-container {
        padding: 150px 110px 30px 110px;
    }
}

.container {
    padding: 30px 40px;
}

@media screen and (min-width: 1200px) {
    .container {
        padding: 30px 110px 50px 110px;
    }
}

.navbar {
    background-color: #FF8500;
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.1);
    justify-content: space-between;
    padding: 20px;
}

@media screen and (min-width: 768px) {
    .navbar {
        display: flex;
        padding: 30px 40px;
    }
}

@media screen and (min-width: 1200px) {
    .navbar {
        display: flex;
        padding: 25px 100px;
    }
}

.navbar-items {
    align-items: end;
    display: flex;
    gap: 15px;
    position: relative;
}

@media screen and (min-width: 1200px) {
    .navbar-items {
        gap: 25px;
    }
}

.navbar-item {
    color: #000000;
    cursor: pointer;
    font-family: Poppins, 'sans-serif';
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    position: relative;
}

@media screen and (min-width: 1200px) {
    .navbar-item {
        font-size: 20px;
        line-height: 38px;
    }
}

.navbar-item-active {
    border-bottom: 3px #81070C solid;
    color: #81070C;
    cursor: pointer;
    font-family: Poppins, 'sans-serif';
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    position: relative;
}

@media screen and (min-width: 1200px) {
    .navbar-item-active {
        font-size: 22px;
        line-height: 38px;
    }
}

.logo {
    height: 35px;
}

@media screen and (min-width: 768px) {
    .logo {
        height: 40px;
    }
}

@media screen and (min-width: 1200px) {
    .logo {
        height: 55px;

    }
}

.logo-name {
    bottom: 0;
    height: 20px;
    position: absolute;
}

@media screen and (min-width: 768px) {
    .logo-name {
        height: 25px;
    }
}

@media screen and (min-width: 1200px) {
    .logo-name {
        height: 40px;
    }
}

.first-panel {
    background: url('../assets/coding-background.png') no-repeat 100% 100%;
    background-size: cover;
    height: calc(100vh - 50px);
    width: 100%;
}

@media screen and (min-width: 768px) {
    .first-panel {
        height: calc(100vh - 90px);
    }
}

@media screen and (min-width: 1200px) {
    .first-panel {
        background-attachment: initial;
        background-image: url('../assets/coding-background.png');
        background-repeat: no-repeat;
        background-size: cover;
        height: calc(100vh - 90px);
        width: 100%;
    }
}

.large-title {
    color: #cfcfcf;
    font-family: 'Ibarra Real Nova', serif;
    font-size: 35px;
    font-weight: 700;
    line-height: 40px;
}

.large-title mark {
    background: none;
    color: #FF8500;
    font-family: 'Ibarra Real Nova', serif;
    font-size: 35px;
    font-weight: 700;
    line-height: 40px;
}

@media screen and (min-width: 1200px) {
    .large-title {
        font-size: 70px;
        line-height: 64px;
    }

    .large-title mark {
        font-size: 70px;
        line-height: 64px;
    }
}

.large-title-dark {
    color: #cfcfcf;
    font-family: 'Ibarra Real Nova', serif;
    font-size: 35px;
    font-weight: 700;
    line-height: 40px;
}

.large-title-dark mark {
    background: none;
    color: #FF8500;
    font-family: 'Ibarra Real Nova', serif;
    font-size: 35px;
    font-weight: 700;
    line-height: 40px;
}

@media screen and (min-width: 1200px) {
    .large-title-dark {
        font-size: 55px;
        line-height: 60px;
    }

    .large-title-dark mark {
        background: none;
        color: #FF8500;
        font-family: 'Ibarra Real Nova', serif;
        font-size: 55px;
        font-weight: 700;
        line-height: 60px;
    }
}

.first-panel-text {
    color: #cfcfcf;
    font-family: Poppins, 'sans-serif';
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin: 20px 0;
}

@media screen and (min-width: 1200px) {
    .first-panel-text {
        font-size: 25px;
        margin: 30px 0 40px 0;
    }
}

.dashboard-item {
    align-items: center;
    color: #cfcfcf;
    cursor: pointer;
    display: flex;
    flex: 1;
    flex-direction: column;
    font-family: Poppins, 'sans-serif';
    font-size: 18px;
    font-weight: 300;
    max-width: 100%;
    text-align: center;
}

@media screen and (min-width: 1200px) {
    .dashboard-item {
        font-size: 20px;
    }
}

.dashboard-item-icon {
    max-height: 50px;
    width: auto;
}

@media screen and (min-width: 1200px) {
    .dashboard-item-icon {
        max-height: 120px;
        min-height: 75px;
    }
}

.work-group-container {
    color: #cfcfcf;
    display: grid;
    font-family: Poppins, 'sans-serif';
    font-size: 18px;
    font-weight: 600;
    grid-template-columns: 1fr 1fr;
    padding: 50px 0 20px 0;
    text-align: center;
}

@media screen and (min-width: 1200px) {
    .work-group-container {
        font-size: 25px;
    }
}

.work-group-item {
    cursor: pointer;
}

.work-group-item:first-child {
    border-right: 2px solid #cfcfcf80;
}

.work-group {
    opacity: 0.5;
}

.work-group-active {
    border-bottom: 3px #FF8500 solid;
    color: #FF8500;
    opacity: 1;
}

.work-container {
    background-color: #4e4d4d;
    border-radius: 20px;
    font-family: Poppins, 'sans-serif';
    margin-bottom: 30px;
    position: relative;
}

@media screen and (min-width: 768px) {
    .work-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin-bottom: 30px;
        padding: 10px 70px 10px 10px;
    }
}

.work-container-image {
    background-position: center;;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 20px;
    height: 200px;
    max-width: 100%;
}

@media screen and (min-width: 768px) {
    .work-container-image {
        height: 305px;
    }
}

.work-container-text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
}

@media screen and (min-width: 1200px) {
    .work-container-text {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 20px 0 20px 70px;
    }
}

.work-container-title {
    color: #FFFFFF;
    font-family: Poppins, 'sans-serif';
    font-size: 25px;
    font-weight: 600;
    line-height: 30px;
    margin-bottom: 20px;
}

@media screen and (min-width: 1200px) {
    .work-container-title {
        font-size: 35px;
    }
}

.work-container-description {
    color: #D1D1D1;
    font-family: Poppins, 'sans-serif';
    font-size: 16px;
    font-weight: 300;
    margin-bottom: 20px;
}

@media screen and (min-width: 1200px) {
    .work-container-description {
        flex-grow: 1;
        font-size: 20px;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}

.design-container {
    padding: 20px 40px;
}

@media screen and (min-width: 1200px) {
    .design-container {
        padding: 50px 110px 30px 110px;
    }
}

@media screen and (min-width: 1200px) {
    .backend {
        height: 50px;
    }
}

.backend-container {
    display: block;
    margin: auto;
    max-width: 1200px;
}

@media screen and (min-width: 768px) {
    .backend-container {
        display: grid;
        gap: 16px;
        grid-template-columns: repeat(2, 1fr);
        margin: auto;
        max-width: 1200px;
        padding: 16px;
    }
}

@media screen and (min-width: 1200px) {
    .backend-container {
        display: grid;
        gap: 16px;
        grid-template-columns: repeat(4, 1fr);
        margin: auto;
        max-width: 1200px;
        padding: 16px;
    }
}


.backend-grid-item div {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 20px;
    height: 300px;
    max-width: 300px;
    margin-bottom: 10px;
}

.hamburger-menu {
    z-index: 10;
}

#menu__toggle {
    opacity: 0;
}

#menu__toggle:checked + .menu__btn > span {
    transform: rotate(45deg);
}

#menu__toggle:checked + .menu__btn > span::before {
    top: 0;
    transform: rotate(0deg);
}

#menu__toggle:checked + .menu__btn > span::after {
    top: 0;
    transform: rotate(90deg);
}

#menu__toggle:checked ~ .menu__box {
    right: 0 !important;
}

.menu__box {
    background-color: #000;
    box-shadow: 0 3px 3px 3px #FF8500;
    display: block;
    height: -moz-fit-content;
    height: fit-content;
    list-style: none;
    margin: 0;
    opacity: .8;
    padding: 55px 0 20px 20px;
    position: fixed;
    top: 0;
    transition-duration: .55s;
    width: 100%;
}

.menu__item {
    color: #FFFFFF;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 600;
    padding: 7px 15px;
    text-decoration: none;
    transition-duration: .55s;
}

@media screen and (min-width: 768px) {
    .menu__item {
        font-size: 30px;
        padding: 10px 20px;
    }
}

.menu__item:hover {
    background-color: #FF8500;
    color: #FFFFFF;
}

.menu__item:active {
    background-color: #FF8500;
    color: #FFFFFF;
}

.submenu {
    list-style-type: none;
    padding-left: 25px;
}

.submenu > li {
    padding: 5px;
}

.submenu__item {
    color: #FFFFFF;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 600;
    padding: 5px 10px;
    text-decoration: none;
    transition-duration: .35s;
}

.submenu__item:hover {
    background-color: #FF8500;
}

.submenu__item:active {
    background-color: #FF8500;
}

.work-icon {
    height: 50px;
    opacity: 0.5;
}

.work-icon-active {
    opacity: 1;
}

@media screen and (min-width: 768px) {
    .work-icon {
        height: 60px;
    }
}

@media screen and (min-width: 1200px) {
    .work-icon {
        height: 80px;
    }
}

.post-container {
    display: grid;
    gap: 25px;
    grid-template-columns: repeat(1, 1fr);
    margin: 50px 0;
}

@media screen and (min-width: 768px) {
    .post-container {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media screen and (min-width: 1200px) {
    .post-container {
        grid-template-columns: repeat(4, 1fr);
    }
}

.post-box {
    background-color: #ffde78;
    border-radius: 20px;
    padding: 35px 30px 20px 20px;
    position: relative;
}

@media screen and (min-width: 1200px) {
    .post-box {

    }
}

.post-title {
    color: #000000;
    font-family: 'Poppins', sans-serif;
    font-size: 21px;
    font-weight: 600;
    height: 75px;
    line-height: 30px;
    margin-bottom: 15px;
    text-transform: uppercase;
}

@media screen and (min-width: 768px) {
    .post-title {
        font-size: 17px;
    }
}

@media screen and (min-width: 1200px) {
    .post-title {
        font-size: 21px;
        height: 75px;
    }
}

.post-description {
    color: #000000;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 400;
    height: 190px;
    line-height: 24px;
    margin-bottom: 20px;
}

@media screen and (min-width: 768px) {
    .post-description {
        font-size: 15px;
        margin-bottom: 20px;
    }
}

@media screen and (min-width: 1200px) {
    .post-description {
        font-size: 18px;
        height: 210px;
    }
}

.post-bottom-container {
    align-items: flex-end;
    display: flex;
    justify-content: space-between;
}

.post-date {
    color: #000000;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
}

@media screen and (min-width: 768px) {
    .post-date {
        font-size: 12px;
    }
}

@media screen and (min-width: 1200px) {
    .post-date {
        font-size: 16px;
    }
}


.chevron-left {
    rotate: 90deg;
}

.chevron-right {
    rotate: 270deg;
}

.arrow-container {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 30px;
    position: relative;
}

.siema-carousel {
    margin-bottom: 20px;
}

.services-active {
    background-color: #ffffff;
    border-radius: 10px;
    bottom: -9em;
    box-shadow: 0 5px 10px 0 #cfcfcf;
    color: #cfcfcf;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    font-weight: 300;
    line-height: 30px;
    position: absolute;
    right: 7em;
    text-align: center;
    text-transform: uppercase;
    z-index: 10;
}

.services-active-item {
    cursor: pointer;
    opacity: 0.8;
    padding: 25px 35px;
}

.services-active-item:first-child {
    border-bottom: 2px dashed #cfcfcf;
}

.image-column img {
    display: block;
    height: auto;
    margin-bottom: 10px;
    max-width: 500px;
}

.category-title {
    display: flex;
    margin-bottom: 30px;
}

.category-subtitle {
    color: #cfcfcf;
    font-family: 'Poppins', sans-serif;
    font-size: 25px;
    font-weight: 600;
    line-height: 50px;
    margin-bottom: 10px;
}

.category-icon {
    height: 60px;
    margin-right: 10px;
}

@media screen and (min-width: 1200px) {
    .category-icon {
        height: 70px;
    }
}

.bar-chart {
    background-color: #E4E4E4;
    border-radius: 10px;
    height: 15px;
    margin-top: 8px;
    max-width: 100%;
    position: relative;
}

.bar-chart .content {
    background-color: #FF8500;
    border-radius: 10px;
    height: 15px;
}

.education-grid {
    color: #cfcfcf;
    display: grid;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    gap: 50px;
    grid-template-columns: 1fr 1fr;
    line-height: 30px;
}

.education-grid .date {
    font-weight: 275;
}

.education-grid .institution {
    font-style: italic;
    font-weight: 300;
}

.education-grid .location {
    font-weight: 300;
}

.education-grid .field {
    font-weight: 600;
}

.experience {
    padding-left: 40px;
}

.experience .title {
    color: #cfcfcf;
    font-family: 'Poppins', sans-serif;
    font-size: 25px;
    font-weight: 500;
    line-height: 30px;
    position: relative;
}

.experience .title:before {
    background: #cfcfcf;
    border: 1px solid #cfcfcf;
    border-radius: 100%;
    content: '';
    height: 20px;
    left: -50px;
    position: absolute;
    width: 20px;
}

.experience .date {
    color: #cfcfcf;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-weight: 300;
}

.experience ul {
    color: #cfcfcf;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    font-weight: 300;
    line-height: 30px;
    margin: 0 0 50px;
}

.experience mark {
    background: none;
    color: #cfcfcf;
    font-family: 'Poppins', sans-serif;
    font-size: 25px;
    font-weight: 300;
    line-height: 30px;
}

.text-column {
    flex: 1;
}

.image-column {
    flex: 1;
}

.introduction-images {
    opacity: 0.3;
}

.blog-post {
    color: #cfcfcf;
    font-family: Poppins, 'sans-serif';
    font-size: 20px;
    font-weight: 300;
}

.carousel-arrow-right {
    display: block;
    rotate: 180deg;
    width: 55px;
}

.carousel-arrow-left {
    display: block;
    rotate: 90deg;
    width: 55px;
}

.ux-ui-design-type-container {
    display: flex;
    height: 350px;
    justify-content: space-between;
    padding: 0 5%;
    position: relative;
}

.design-process-container {
    display: flex;
    justify-content: space-around;
    padding: 0 5%;
    position: relative;
}

.ux-ui-design-type-container .dashed-line {
    background: repeating-linear-gradient(140deg, #cfcfcf, #000 10px, white 10px, white 20px);
    height: 2px;
    left: 0;
    position: absolute;
    top: 9em;
    width: 100%;
}

.design-process-container .dashed-line {
    background: repeating-linear-gradient(140deg, #cfcfcf, #000 10px, white 10px, white 20px);
    height: 2px;
    left: 0;
    position: absolute;
    top: 9em;
    width: 100%;
}

.ux-ui-design-item {
    max-width: 340px;
    min-width: 300px;
    position: relative;
    text-align: center;
}

.design-type-title {
    color: #cfcfcf;
    font-family: 'Poppins', sans-serif;
    font-size: 30px;
    font-weight: 600;
    margin: 10px 0 50px 0;
}

.design-type-title-active {
    color: #FF8500;
}

.design-type-description {
    color: #cfcfcf;
    font-family: 'Poppins', sans-serif;
    font-size: 25px;
    font-weight: 500;
    line-height: 30px;
}

.design-type-description-active {
    color: #FF8500;
}

.landing-page-title {
    color: #FFFFFF;
    font-family: 'Poppins', sans-serif;
    font-size: 50px;
    font-weight: 600;
    line-height: 50px;
}

.red-arrow {
    height: 60px;
    margin-top: 20px;
}

ul {
    margin: 0;
}

li {
    color: #cfcfcf;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    font-weight: 600;
}

ul ul {
    list-style-type: lower-alpha;
}

.ux-ui-title {
    background: none;
    color: #363636;
    font-family: 'Poppins', sans-serif;
    font-size: 30px;
    font-weight: 600;
    line-height: 55px;
}

.ux-ui-title mark {
    background: none;
    color: #FF8500;
    font-family: 'Poppins', sans-serif;
    font-size: 30px;
    font-weight: 600;
    line-height: 55px;
}

.ux-ui-container {
    display: block;
    margin-bottom: 100px;
}

@media screen and (min-width: 1200px) {
    .ux-ui-container {
        display: grid;
        gap: 80px;
        grid-template-columns: repeat(3, 1fr);
    }
}

.tick {
    height: 40px;
}

.ux-ui-item {
    display: flex;
    flex-direction: column;
}

.ux-ui-item-title-container {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}

.ux-ui-item-title {
    color: #cfcfcf;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-weight: 600;
    line-height: 27px;
    text-align: justify;
}

.ux-ui-item-text {
    color: #cfcfcf;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-weight: 300;
    line-height: 27px;
    padding-left: 50px;
    text-align: justify;
}

.persona-container {
    padding: 30px 0;
    position: relative;
}

.persona-container .top-dashed-line {
    background: repeating-linear-gradient(140deg, #cfcfcf, #000 10px, white 10px, white 20px);
    height: 2px;
    position: absolute;
    top: 0;
    width: 100%;
}

.persona-container .bottom-dashed-line {
    background: repeating-linear-gradient(140deg, #cfcfcf, #000 10px, white 10px, white 20px);
    bottom: 0;
    height: 2px;
    position: absolute;
    width: 100%;
}

.persona-image {
    width: 400px;
}

.persona-title {
    color: #cfcfcf;
    font-family: 'Poppins', sans-serif;
    font-size: 50px;
    font-weight: 600;
    line-height: 70px;
}

.persona-details {
    color: #cfcfcf;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
}

.quotation-mark-up {
    display: block;
    height: fit-content;
    margin-bottom: auto;
    margin-top: 10px;
    width: 55px;
}

.quotation-mark-down {
    display: block;
    height: fit-content;
    margin-bottom: 10px;
    margin-top: auto;
    rotate: 180deg;
    width: 55px;
}

.persona-bio {
    color: #cfcfcf;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    font-weight: 300;
    line-height: 30px;
}

.persona-quote {
    color: #cfcfcf;
    font-family: 'Poppins', sans-serif;
    font-size: 25px;
    font-weight: 600;
    line-height: 37px;
}

.persona-group-container {
    display: grid;
    gap: normal;
    grid-template-columns: repeat(4, auto);
}

.persona-group-title {
    color: #cfcfcf;
    font-family: 'Poppins', sans-serif;
    font-size: 22px;
    font-weight: 500;
    line-height: 33px;
}

.persona-group-content li {
    color: #cfcfcf;
    font-family: 'Poppins', sans-serif;
    font-size: 22px;
    font-weight: 300;
    line-height: 33px;
}

.graphic-design-type-container {
    display: grid;
    gap: 300px;
    grid-template-columns: 1fr 1fr;
    margin: 0 7em;
    position: relative;
}

.graphic-design-type-container .vertical-dashed-line {
    background: repeating-linear-gradient(0deg, #cfcfcf, #cfcfcf 10px, white 10px, white 20px);
    height: 360px;
    left: 50%;
    position: absolute;
    top: 25%;
    width: 2px;
}


.graphic-design-type-title {
    color: #cfcfcf;
    font-family: 'Poppins', sans-serif;
    font-size: 25px;
    font-weight: 600;
    margin: 10px 0 20px 0;
}

.graphic-design-type-subtitle {
    color: #cfcfcf;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    font-weight: 600;
}

.graphic-design-type-subtitle mark {
    background: none;
    color: #cfcfcf;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    font-weight: 100;
}

.graphic-design-type-content li {
    color: #cfcfcf;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    font-weight: 300;
}

.services {
    background-color: transparent;
}

@media screen and (min-width: 768px) {
    .services {
        padding: 40px;
    }
}

@media screen and (min-width: 1200px) {
    .services {
        padding: 50px 110px;
    }
}

.services-container {
    background-color: #d5d5d5;
    border-radius: 20px;
    box-shadow: 4px 4px 11px 2px rgba(255, 133, 0, 1);
    display: grid;
    gap: 30px;
    grid-template-columns: 1fr 3fr;
    margin-bottom: 50px;
    overflow: hidden;
    padding: 10px;
}

@media screen and (min-width: 1200px) {
    .services-container {
        border-right: 130px solid rgba(255, 222, 120, 1);
        padding: 50px 60px;
    }

    .services-container:hover {
        border-right: 130px solid #FF8500;
    }
}

.services-icon {
    background-position: center;;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 20px;
    height: 80px;
    max-width: 600px;
}

@media screen and (min-width: 768px) {
    .services-icon {
        height: 150px;
    }
}

.services-text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.services-title {
    color: #363636;
    flex-grow: 1;
    font-family: Poppins, 'sans-serif';
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 15px;
    overflow: hidden;
    text-overflow: ellipsis;
}

@media screen and (min-width: 768px) {
    .services-title {
        font-size: 30px;
        margin-bottom: 30px;
    }
}

.services-description {
    color: #7C7C7C;
    font-family: Poppins, 'sans-serif';
    font-size: 16px;
    font-weight: 300;
    margin-bottom: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
}

@media screen and (min-width: 768px) {
    .services-description {
        font-size: 20px;
        margin-bottom: 30px;
    }
}

.services-shadowed-boxes {
    background-color: #FF8500;
    border-radius: 50px;
    color: #363636;
    flex: 1;
    font-family: Poppins, 'sans-serif';
    font-size: 12px;
    font-weight: 600;
    padding: 3px 15px;
    text-align: center;
    position: relative;
}

@media screen and (min-width: 768px) {
    .services-shadowed-boxes {
        font-size: 17px;
    }
}

@media screen and (min-width: 1200px) {
    .services-shadowed-boxes {
        font-size: 20px;
        padding: 5px 30px;
    }
}

.box-container {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}

.wireframe-image {
    max-width: 370px;
}

.gray-background-container {
    background-color: #FAFAFA;
    height: 1750px;
    margin: 0 110px;
}

.gray-background-sub-container {
    background-color: #FAFAFA;
    height: 1150px;
    margin: 0 110px 30px;
}

.input-grid {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 30px;
}

@media screen and (min-width: 1200px) {
    .input-grid {
        display: flex;
        flex-direction: row;
        gap: 50px;
    }
}

.service-image {
    height: 30px;
}

@media screen and (min-width: 768px) {
    .service-image {
        height: 50px;
    }
}
