body {
    background-color: #000000;
    margin: 0;
}

h2 {
    color: #FF8500;
    font-family: 'Poppins', sans-serif;
    font-size: 30px;
    font-weight: 600;
    margin: 0;
}

@media screen and (min-width: 1200px) {
    h2 {
        font-size: 50px;
    }
}

h4 {
    margin: 0;
}

a {
    color: #cfcfcf;
    display: block;
    text-decoration: none;
}

.introduction-container {
    display: block;
    margin-left: 30%;
    margin-right: 30%;
}

.bar-chart-grid {
    display: grid;
    gap: 10px;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 5px;
}

p {
    color: #cfcfcf;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 30px;
    margin: 0;
    text-align: justify;
    text-justify: inter-word;
}

@media screen and (min-width: 768px) {
    p {
        font-size: 18px;
    }
}

@media screen and (min-width: 1200px) {
    p {
        font-size: 20px;
        line-height: 30px;
    }
}

.main-container {
    padding: 20px 40px 50px;
}

@media screen and (min-width: 768px) {
    .main-container {
        padding: 35px 60px 50px;
    }
}

@media screen and (min-width: 1200px) {
    .main-container {
        padding: 100px 110px 30px 110px;
    }
}

@media screen and (min-width: 1600px) {
    .main-container {
        padding: 150px 110px 30px 110px;
    }
}

.container {
    padding: 30px 40px;
}

@media screen and (min-width: 1200px) {
    .container {
        padding: 30px 110px 50px 110px;
    }
}

.navbar {
    background-color: #FF8500;
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.1);
    justify-content: space-between;
    padding: 20px;
}

@media screen and (min-width: 768px) {
    .navbar {
        display: flex;
        padding: 30px 40px;
    }
}

@media screen and (min-width: 1200px) {
    .navbar {
        display: flex;
        padding: 25px 100px;
    }
}

.navbar-items {
    align-items: end;
    display: flex;
    gap: 15px;
    position: relative;
}

@media screen and (min-width: 1200px) {
    .navbar-items {
        gap: 25px;
    }
}

.navbar-item {
    color: #000000;
    cursor: pointer;
    font-family: Poppins, 'sans-serif';
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    position: relative;
}

@media screen and (min-width: 1200px) {
    .navbar-item {
        font-size: 20px;
        line-height: 38px;
    }
}

.navbar-item-active {
    border-bottom: 3px #81070C solid;
    color: #81070C;
    cursor: pointer;
    font-family: Poppins, 'sans-serif';
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    position: relative;
}

@media screen and (min-width: 1200px) {
    .navbar-item-active {
        font-size: 22px;
        line-height: 38px;
    }
}

.logo {
    height: 35px;
}

@media screen and (min-width: 768px) {
    .logo {
        height: 40px;
    }
}

@media screen and (min-width: 1200px) {
    .logo {
        height: 55px;
    }
}

.logo-name {
    bottom: 0;
    height: 20px;
    position: absolute;
}

@media screen and (min-width: 768px) {
    .logo-name {
        height: 25px;
    }
}

@media screen and (min-width: 1200px) {
    .logo-name {
        height: 40px;
    }
}

.first-panel {
    background: url('../assets/coding-background.png') no-repeat 100% 100%;
    background-size: cover;
    height: calc(100vh - 90px);
    width: 100%;
}

@media screen and (min-width: 768px) {
    .first-panel {
        height: calc(100vh - 90px);
    }
}

@media screen and (min-width: 1200px) {
    .first-panel {
        background-attachment: initial;
        background-image: url('../assets/coding-background.png');
        background-repeat: no-repeat;
        background-size: cover;
        height: calc(100vh - 90px);
        width: 100%;
    }
}

.large-title {
    color: #cfcfcf;
    font-family: 'Ibarra Real Nova', serif;
    font-size: 35px;
    font-weight: 700;
    line-height: 40px;
}

.large-title mark {
    background: none;
    color: #FF8500;
    font-family: 'Ibarra Real Nova', serif;
    font-size: 35px;
    font-weight: 700;
    line-height: 40px;
}

@media screen and (min-width: 1200px) {
    .large-title {
        font-size: 70px;
        line-height: 64px;
    }

    .large-title mark {
        font-size: 70px;
        line-height: 64px;
    }
}

.large-title-dark {
    color: #cfcfcf;
    font-family: 'Ibarra Real Nova', serif;
    font-size: 35px;
    font-weight: 700;
    line-height: 40px;
}

.large-title-dark mark {
    background: none;
    color: #FF8500;
    font-family: 'Ibarra Real Nova', serif;
    font-size: 35px;
    font-weight: 700;
    line-height: 40px;
}

@media screen and (min-width: 1200px) {
    .large-title-dark {
        font-size: 55px;
        line-height: 60px;
    }

    .large-title-dark mark {
        background: none;
        color: #FF8500;
        font-family: 'Ibarra Real Nova', serif;
        font-size: 55px;
        font-weight: 700;
        line-height: 60px;
    }
}

.first-panel-text {
    color: #cfcfcf;
    font-family: Poppins, 'sans-serif';
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin: 20px 0;
}

@media screen and (min-width: 1200px) {
    .first-panel-text {
        font-size: 25px;
        margin: 30px 0 40px 0;
    }
}

.dashboard-item {
    align-items: center;
    color: #cfcfcf;
    cursor: pointer;
    display: flex;
    flex: 1;
    flex-direction: column;
    font-family: Poppins, 'sans-serif';
    font-size: 18px;
    font-weight: 300;
    max-width: 100%;
    text-align: center;
}

@media screen and (min-width: 1200px) {
    .dashboard-item {
        font-size: 20px;
    }
}

.dashboard-item-icon {
    max-height: 50px;
    width: auto;
}

@media screen and (min-width: 1200px) {
    .dashboard-item-icon {
        max-height: 120px;
        min-height: 75px;
    }
}

.transparent-icon {
    bottom: 50px;
    position: absolute;
    width: 30px;
}

@media screen and (min-width: 1200px) {
    .transparent-icon {
        width: 40px;
    }
}

.work-group-container {
    color: #cfcfcf;
    display: grid;
    font-family: Poppins, 'sans-serif';
    font-size: 18px;
    font-weight: 600;
    grid-template-columns: 1fr 1fr;
    padding: 50px 0 20px 0;
    text-align: center;
}

@media screen and (min-width: 1200px) {
    .work-group-container {
        font-size: 25px;
    }
}

.work-group-item {
    cursor: pointer;
}

.work-group-item:first-child {
    border-right: 2px solid #cfcfcf80;
}

.work-group {
    opacity: 0.5;
}

.work-group-active {
    border-bottom: 3px #FF8500 solid;
    color: #FF8500;
    opacity: 1;
}

.skills-container {
    display: grid;
    gap: 10px;
    grid-template-columns: 1fr;
    padding: 10px 0;
}

@media screen and (min-width: 768px) {
    .skills-container {
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (min-width: 1200px) {
    .skills-container {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

.skills-icon {
    height: 40px;
    width: auto;
}

@media screen and (min-width: 1200px) {
    .skills-icon {
        height: 75px;
    }
}

.skills-title {
    color: #cfcfcf;
    font-family: Poppins, 'sans-serif';
    font-size: 16px;
    font-weight: 300;
    line-height: 20px;
    margin: 5px 0;
}

@media screen and (min-width: 1200px) {
    .skills-title {
        font-size: 20px;
        line-height: 25px;
    }
}

.title-dark {
    color: #cfcfcf;
    font-family: 'Ibarra Real Nova', serif;
    font-size: 18px;
    font-weight: 600;
    line-height: 30px;
    margin-bottom: 5px;
}

@media screen and (min-width: 1200px) {
    .title-dark {
        font-size: 35px;
    }
}

.marked {
    background: none;
    color: #FF8500;
    font-family: 'Ibarra Real Nova', serif;
    font-size: 18px;
    font-weight: 600;
    line-height: 30px;
    margin-bottom: 5px;
}

@media screen and (min-width: 1200px) {
    .marked {
        font-size: 35px;
    }
}
